@model IEnumerable<PMQLSQA.Models.SanPham>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TenSanPham)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GiaSanPham)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.XuatXu)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SoLuong)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NgaySanXuat)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TenSanPham)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GiaSanPham)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.XuatXu)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SoLuong)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NgaySanXuat)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MaSanPham }) |
            @Html.ActionLink("Details", "Details", new { id=item.MaSanPham }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MaSanPham })
        </td>
    </tr>
}

</table>
