@model IEnumerable<PMQLSQA.Models.Kho>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NgaySanXuat)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NguonGoc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SoLuongSanPham)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NgaySanXuat)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NguonGoc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SoLuongSanPham)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MatHang }) |
            @Html.ActionLink("Details", "Details", new { id=item.MatHang }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MatHang })
        </td>
    </tr>
}

</table>
