@model IEnumerable<PMQLSQA.Models.PhieuNhap>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SanPhamNhap)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SoLuongNhap)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NgayNhapHang)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NguoiNhap)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NhaCungCap)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SanPhamNhap)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SoLuongNhap)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NgayNhapHang)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NguoiNhap)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NhaCungCap)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MaPhieuNhap }) |
            @Html.ActionLink("Details", "Details", new { id=item.MaPhieuNhap }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MaPhieuNhap })
        </td>
    </tr>
}

</table>
